<div class="full_page_photo" style="background-image: url(images/sourcing-vector.jpg);">
     <div class="container">
          <section class="call_to_action">
               <h3 class="animated bounceInDown">we really <strong>love</strong> what we do</h3>
          </section>
     </div>
</div>
<div class="main">
     <section class="hgroup">
          <div class="container">
               <h1>About us</h1>
               <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a> </li>
                    <li class="active">About us</li>
               </ul>
          </div>
     </section>
     <section class="article-text">
     <div class="container">
          <div class="row">
               <div class="col-sm-8 col-md-8">
                 <h2 class='text-center'>Experts at Sourcing</h2>
                    <p>
                      Since 2007, SageGuard Sourcing professionals have worked
                      with some of the world's leading manufacturing
                      companies to help them optimize their spending,
                      locate reliable and economical sources of raw materials,
                      products, and components for their manufacturing
                      processes, and develop working systems to make their
                      operations more efficient and cost-effective.
                    </p>
                    <p>
                      We can help your company procure materials from domestic
                      sources as well as from low-cost countries.  Through our
                      partners, we are able to drive the cost of components and
                      raw materials down so your bottom line increases without
                      losing quality of your end products and services.
                    </p>
                    <p>
                      Tapping into our low-cost country suppliers, clients are
                      provided a smooth path around complicated aspects of
                      foreign sourcing such as taxes, language barriers, and
                      legal contraints. Let SageGuard Sourcing take the hassle
                      out of low-cost country strategic sourcing for your organization.
                    </p>
                    <h2 class='text-center'>Transforming Water Filtration Systems</h2>
                    <p>
                      SageGuard Energy is leading the way in water aqualogy technology
                      innovation by developing water purification systems that are
                      revolutionizing the way we think about this necessary industrial
                      process. We specialize in designing systems that purify large
                      quantities of water using energy instead of chemicals, while
                      also making it possible to recycle that water, and at substantially
                      lower costs than ever before.
                    </p>
                    <p>
                      SageGuard Sourcing has been working to advance industrial aqualogy
                      since 2013 and since has attracted clients from around the world,
                      in a wide array of industries, for an even wider array of applications:

                      <p class='text-center'>Consumables | Energy | Health Care | Technology | Manufacturing</p>

                      <p class='text-center'>Lighting | Real Estate | Government | Textiles | Natural Resources</p>

                      SageGuard Sourcing in on the forefront to improve the way energy is
                      explored by designing systems that purify large quantities
                      of water in the manufacturing environment. Our purification
                      systems have numerous industrial and commercial applications
                      in industries ranging from oil and gas to dairy farms.
                    </p>
               </div>
               <div class="col-sm-4 col-md-4">
                 <h4>Our Proven Strengths:</h4>
                 <ul>
                   <li>Procurement of raw materials and components.</li>
                   <li>Procurement of indirect spend items.</li>
                   <li>Improving logistics with your suppliers.</li>
                   <li>Improving lead times and shaving hard costs from current processes.</li>
                   <li>Identification and build out of warehousing locations.</li>
                   <li>Acquisition of capital equipment and service programs.</li>
                   <li>Reducing maintenance costs of capital equipment.</li>
                 </ul>
               </div>
               <div class="col-sm-4 col-md-4">
                 <div class="service_teaser vertical">
                   <div class="service_photo">
                     <figure style="background-image:url(images/binders.jpeg)"></figure>
                   </div>
                   <div class="service_details">
                     <h2 class="section_header skincolored"><b>See our Work</b></h2>
                     <%= link_to "Portfolio", projects_path, class: "btn btn-lg btn-primary center-block" %>
                   </div>
                 </div>
                </div>
          </div>
     </div>
     </section>
     <section class="team_members">
          <div class="container">
               <h2 class="section_header fancy centered">Meet our Team... <small>they are always up to something good!</small></h2>
               <div class="row">
                 <% @members.each do |member| %>
                    <div class="col-sm-6 col-md-3">
                         <div class="team_member team-margin">
                              <figure style="background-image: url(<%= member.photo.url %>)"><img src="<%= member.photo.url %>" alt="1a"></figure>
                              <h5><%= member.name %></h5>
                              <small><%= member.title %></small>
                              <hr>
                              <div class="team_social">
                                <% if member.facebook != "" %>
                                  <a href="<%= member.facebook %>"><i class="fa fa-facebook"></i></a>
                                <% end %>
                                <% if member.linkedin != "" %>
                                  <a href="<%= member.linkedin %>"><i class="fa fa-linkedin"></i></a>
                                <% end %>
                                <% if member.linkedin == "" && member.facebook == "" %>
                                  <br><br>
                                <% end %>
                              </div>
                         </div>
                    </div>
                  <% end %>
               </div>
          </div>
     </section>
