<section id="slider_wrapper" class="slider_wrapper full_page_photo">
     <div id="main_flexslider" class="flexslider">
          <ul class="slides">
               <li class="item" style="background-image: url(images/filter.jpeg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1>Transforming Water<br>Filtration Systems</h1>
                              <p class="lead skincolored">With SageGuard Sourcing's advanced industrial aqualogy, the opportunities are limitless.</p>
                         </div>
                    </div>
               </li>
               <li class="item" style="background-image: url(images/logistics.jpeg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1 class="skincolored"><strong>Improved</strong> Logistics</h1>
                              <p class="lead">
                                With a partner network extending beyon the U.S., SageGuard Sourcing is able to take advantage of relationships
                                with low-cost countries to provide economical, high-value options in sourcing.
                              </p>
                         </div>
                    </div>
               </li>
               <li class="item" style="background-image: url(images/lead-times.jpeg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1><strong>Improved</strong> Lead Times</h1>
                              <p class="lead skincolored">SageGuard Sourcing can help you in your every day challenge of finding the materials and services you need to maximize your profits.</p>
                         </div>
                    </div>
               </li>
          </ul>
     </div>
</section>
<div class="main">
     <section class="call_to_action">
          <div class="container">
               <h3>Optimize your Resources</h3>
          </div>
     </section>
     <section class="features_teasers_wrapper">
          <div class="container">
               <div class="row">
                    <div class="feature_teaser col-sm-4 col-md-4"><%= image_tag "red-costs.png", alt: "reducing costs image" %>
                         <h3>Reducing Costs</h3>
                         <p><strong>Even if you are over paying for just one component</strong>, we will shop it for you at no cost and save you money. In most cases, we are paid from the manufacturer. We only ask for the opportunity to identify your product, component, or service and quote it for you.</p>
                    </div>
                    <div class="feature_teaser col-sm-4 col-md-4"><%= image_tag "trans-expl.png", alt: "transforming energy exploration image" %>
                         <h3>Transforming Energy Exploration</h3>
                         <p>SageGuard Sourcing has been working to advance industrial aqualogy since 2013 and since has attracted clients from around the world, in a wide array of industries, for an even wider array of applications, including: Consumables, Health Care, Technology, Manufacturing, Lighting, Real Estate, Government, Textiles, and Natural Resources.</p>
                    </div>
                    <div class="feature_teaser col-sm-4 col-md-4"><%= image_tag "en-safety.png", alt: "Improving energy safety image" %>
                         <h3>Improving Energy Safety</h3>
                         <p>The benefits of using energy instead of chemicals to purify water are vast to the environment, the bottom line, and improved safety for both labor and our communities. With SageGuard Sourcing's advanced industrial aqualogy, the opportunities are limitless.</p>
                    </div>
               </div>
          </div>
     </section>
     <section class="portfolio_teasers_wrapper">
          <div class="container">
               <h2 class="section_header fancy centered">Recent Projects from our Portfolio<small>we take pride in our work</small></h2>
               <div class="portfolio_strict row">
                 <% for project in @projects do %>
                    <div class="col-sm-4 col-md-4">
                         <div class="portfolio_item wow animated flipInX"> <a href="<%= project_path(project.id) %>" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                              <figure style="background-image:url(<%= project.photos.first.photo.url %>)">
                                   <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                        <path d="M 180,0 0,0 0,0 180,0 z"/>
                                   </svg>
                                   <figcaption>
                                        <p><%= project.subtitle %></p>
                                        <div class="view_button">View</div>
                                   </figcaption>
                              </figure>
                              </a>
                              <div class="portfolio_description">
                                   <h3><%= link_to project.title, project_path(project.id) %></h3>
                                   <p><%= project.category %></p>
                              </div>
                         </div>
                    </div>
                 <% end %>
               </div>
          </div>
     </section>
     <section class="clients_section wow animated fadeInUp">
          <div class="container">
               <h2 class="section_header elegant centered">Our Partners</h2>
               <div class="clients_list">
                 <a href="#"><img src="images/clients/sabula_logo.png" alt="client"></a>
                 <a href="#"><img src="images/clients/pt-logo.png" alt="client"></a>
                 <a href="#"><img src="images/clients/rb-logo.png" alt="client"></a>
                 <a href="#"><img src="images/clients/wt-logo.png" alt="client"></a>
               </div>
          </div>
     </section>
