<div class="main">
     <section class="hgroup">
          <div class="container">
               <h1>Portfolio</h1>
               <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a> </li>
                    <li class="active">Portfolio</li>
               </ul>
          </div>
     </section>
     <section>
          <div class="container">
               <ul class="portfolio_filters">
                    <li><a href="#" data-filter="*">show all</a></li>
                    <% if @categories %>
                    <% for category in @categories %>
                      <li><a href="#" data-filter=".cat_<%= category.name %>"><%= category.name %></a></li>
                    <% end %>
                    <% end %>
               </ul>
          </div>
     </section>
     <section class="portfolio_strict">
          <div class="container">
               <div class="row isotope_portfolio_container">
                 <% if @projects %>
                 <% @projects.each do |p| %>
                    <div class="cat_<%= p.category %> col-xs-12 col-sm-6 col-md-4 col-lg-4">
                         <div class="portfolio_item"> <a href="<%= project_path(p.id) %>" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                              <figure style="background-image:url(<%= p.photos.first.photo.url %>)">
                                   <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                        <path d="M 180,0 0,0 0,0 180,0 z"/>
                                   </svg>
                                   <figcaption>
                                        <p>
                                          <%= p.subtitle %>
                                        </p>
                                        <div class="view_button">View</div>
                                   </figcaption>
                              </figure>
                              </a>
                              <div class="portfolio_description">
                                   <h3><%= link_to p.title, project_path(p.id) %></h3>
                                   <p><%= p.category %></p>
                              </div>
                         </div>
                    </div>
                  <% end %>
                  <% end %>
               </div>
          </div>
     </section>
