<div class="main">
     <section class="hgroup">
          <div class="container">
               <h1><%= @project.title %></h1>
               <h2><%= @project.subtitle %></h2>
               <ul class="breadcrumb pull-right">
                    <li><%= link_to "Home", root_path %></li>
                    <li class="active">Portfolio</li>
               </ul>
          </div>
     </section>
     <section>
          <div class="container">
               <div class="row">
                    <div class="col-sm-8 col-md-8">
                         <section class="portfolio_slider_wrapper">
                              <div class="flexslider" id="portfolio_slider">
                                   <ul class="slides">
                                      <% @project.photos.each do |photo| %>
                                        <li class="item" data-thumb="<%= photo.photo.url %>" style="background-image: url(<%= photo.photo.url %>)">
                                             <div class="container"> <a href="<%= photo.photo.url %>" rel="prettyPhoto[gal]"></a>
                                             </div>
                                        </li>
                                      <% end %>
                                   </ul>
                              </div>
                              <div id="carousel" class="flexslider">
                                   <ul class="slides">
                                     <% @project.photos.each do |photo| %>
                                        <li> <img src="<%= photo.photo.url %>" alt=""> </li>
                                     <% end %>
                                   </ul>
                              </div>
                         </section>
                    </div>
                    <div class="col-sm-4 col-md-4">
                         <article class="portfolio_details">
                              <h2 class="section_header">About the project</h2>
                              <p><%= @project.description %></p>
                              <br>
                              <br>
                              <div>
                                 <p><strong>Date:</strong> November 2013</p>
                                 <% if @project.client %>
                                 <p><strong>Client: </strong><%= @project.client %></p>
                                 <% end %>
                                 <p><strong>Category: </strong><%= @project.category %></p>
                              </div>
                              <br>
                              <br>
                              <a href="#" class="btn btn-danger center-block btn-lg">Visit Project Site</a> </article>
                    </div>
               </div>
          </div>
     </section>
