<footer>
     <section id="footer_teasers_wrapper">
          <div class="container">
               <div class="row">
                    <div class="footer_teaser col-sm-4 col-md-4">
                         <h3>About us</h3>
                         <a href="https://www.google.com/maps/place/29638+Detroit+Rd,+Westlake,+OH+44145/@41.4645189,-81.9507033,17z/data=!3m1!4b1!4m2!3m1!1s0x8830921c0f593b59:0xa73ab2d06ede8848"><p><i class="fa fa-map-marker"></i> 29638 Detroit Rd.</p></a>
                         <a href="tel:4408922000"><p><i class="fa fa-phone"></i> (440) 892-2000</p></a>
                         <a href="fax:33098547855"><p><i class="fa fa-print"></i> (+30) 9854-7855</p></a>
                         <a href="mailto:contact@sageguard.com"><p><i class="fa fa-envelope"></i> contact@sageguard.com</p></a>
                    </div>
                    <div class="footer_teaser col-sm-4 col-md-4">
                         <h3>Content</h3>
                         <ul class="footer-nav">
                           <li><%= link_to "Home", root_path %></li>
                           <li><%= link_to "About", about_path %></li>
                           <li><%= link_to "Portfolio", projects_path %></li>
                           <li><%= link_to "Shop", "/shop" %></li>
                         </ul>
                    </div>
                    <div class="footer_teaser col-sm-4 col-md-4">
                         <h3>Support</h3>
                         <ul class="footer-nav">
                           <li><%= link_to "Terms of Service", disclaimers_terms_path %></li>
                           <li><%= link_to "Refund Policy", disclaimers_refund_path %></li>
                           <li><%= link_to "Privacy Policy", disclaimers_privacy_path %></li>
                           <li><%= link_to "Contact", new_message_path %></li>
                         </ul>
                    </div>
               </div>
          </div>
     </section>
     <section class="copyright">
          <div class="container">
               <div class="row">
                    <div class="col-sm-6 col-md-6"> Copyright ©2016 all rights reserved </div>
                    <div class="text-right col-sm-6 col-md-6"> Designed by <a href="http://www.sabula.co">Sabula &amp; Co.</a> </div>
               </div>
          </div>
     </section>
</footer>
